SHELL="/bin/bash"
HOME="/home/stats"
PATH="/home/stats/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

# Keepalive
# mm hh         dom mon dow command
*/5 *            *   *   *  /bin/bash $HOME/bin/keepalive.sh >>$HOME/log/keepalive.log 2>&1

# Daily restart
# mm hh         dom mon dow command
02 07            *   *   *  /bin/bash $HOME/bin/restart.sh >>$HOME/log/restart.log 2>&1

# Backup
# mm hh         dom mon dow command
02 01            *   *   *  /bin/bash $HOME/bin/backup.sh >>$HOME/log/backup.log 2>&1

# Cleanup
# mm hh         dom mon dow command
32 01            *   *   *  /bin/bash $HOME/bin/cleanup.sh >>$HOME/log/cleanup.log 2>&1
